In [1]:
import censusdata
import pandas as pd
import numpy as np

In [2]:
town = pd.read_csv('town_demand_data.csv')

town.head()

,total population,housing units,pop_male_under_5,pop_female_under_5,median_family_income_in_the_past_12_months_in_2019_inflation-adjusted_dollars_by_family_size_total,ratio of income to poverty level - < 0.5,children under 6 ratio of income to poverty level - < 0.5,children under 6 by parent employment status - all categories,children under 6 by parent employment status - both parents - in labor force,children under 6 by parent employment status - only father - in labor force,children under 6 by parent employment status - only mother - in labor force,ratio of income to poverty level - 0.51 - 1.0,ratio of income to poverty level - 1.01 - 2.0,ratio of income to poverty level - > 2.0,children under 6 ratio of income to poverty level - 0.51 - 1.0,children under 6 ratio of income to poverty level - 1.01 - 2.0,children under 6 ratio of income to poverty level - > 2.0,town
0,6903,4365,67,44,126890.0,77,14,142,98,0,0,20,76,1805,0,0,128,Westbrook
1,9007,4633,189,293,107654.0,32,46,585,312,0,99,34,227,2359,0,17,522,East Haddam
2,10090,5735,163,166,101012.0,69,0,465,277,47,37,38,301,2403,0,59,406,Old Saybrook
3,7221,2913,180,185,129156.0,23,0,398,164,18,68,14,58,1972,0,62,336,Durham
4,4480,2095,106,122,114583.0,0,0,261,140,59,0,9,63,1179,0,0,261,Deep River

In [13]:
# demand estimate number 1: taking bottom two income quintiles and mulitiplying it by population under 5 years old
# 0.5 is relatively arbitrary as it tries to capture those in the bottom two quintiles for income (instead of 0.4)

town['demand_estimate'] = (town['pop_female_under_5'] + town['pop_male_under_5'])*0.5

town['demand_estimate'] = town['demand_estimate'].apply(np.ceil)

town.head()

,total population,housing units,pop_male_under_5,pop_female_under_5,median_family_income_in_the_past_12_months_in_2019_inflation-adjusted_dollars_by_family_size_total,ratio of income to poverty level - < 0.5,children under 6 ratio of income to poverty level - < 0.5,children under 6 by parent employment status - all categories,children under 6 by parent employment status - both parents - in labor force,children under 6 by parent employment status - only father - in labor force,...,town,demand_estimate,ratio_poverty,demand_estimate_2,housing per person,%housing_lowerHalf_income,demand_estimate_3,children_below_200%_poverty,%all_parents_working,demand_estimate_4
0,6903,4365,67,44,126890.0,77,14,142,98,0,...,Westbrook,56.0,0.025062,3.0,0.632334,0.316167,36.0,14,0.690141,10.0
1,9007,4633,189,293,107654.0,32,46,585,312,0,...,East Haddam,241.0,0.032530,16.0,0.514378,0.257189,124.0,63,0.702564,45.0
2,10090,5735,163,166,101012.0,69,0,465,277,47,...,Old Saybrook,165.0,0.040436,14.0,0.568385,0.284192,94.0,59,0.776344,46.0
3,7221,2913,180,185,129156.0,23,0,398,164,18,...,Durham,183.0,0.013156,5.0,0.403407,0.201703,74.0,62,0.628141,39.0
4,4480,2095,106,122,114583.0,0,0,261,140,59,...,Deep River,114.0,0.016071,4.0,0.467634,0.233817,54.0,0,0.762452,0.0

In [4]:
# ratio of poverty to general population

town['ratio_poverty'] = (town['ratio of income to poverty level - 0.51 - 1.0'] + 
                              town['ratio of income to poverty level - < 0.5'] + 
                        town['ratio of income to poverty level - 1.01 - 2.0']) / town['total population']

# or divisor: town['total population']

In [14]:
# ratio of income to poverty level

town['demand_estimate_2'] =  (town['ratio_poverty'] * (town['pop_female_under_5'] + town['pop_male_under_5']))

town['demand_estimate_2'] = town['demand_estimate_2'].apply(np.ceil)

town.head()

,total population,housing units,pop_male_under_5,pop_female_under_5,median_family_income_in_the_past_12_months_in_2019_inflation-adjusted_dollars_by_family_size_total,ratio of income to poverty level - < 0.5,children under 6 ratio of income to poverty level - < 0.5,children under 6 by parent employment status - all categories,children under 6 by parent employment status - both parents - in labor force,children under 6 by parent employment status - only father - in labor force,...,town,demand_estimate,ratio_poverty,demand_estimate_2,housing per person,%housing_lowerHalf_income,demand_estimate_3,children_below_200%_poverty,%all_parents_working,demand_estimate_4
0,6903,4365,67,44,126890.0,77,14,142,98,0,...,Westbrook,56.0,0.025062,3.0,0.632334,0.316167,36.0,14,0.690141,10.0
1,9007,4633,189,293,107654.0,32,46,585,312,0,...,East Haddam,241.0,0.032530,16.0,0.514378,0.257189,124.0,63,0.702564,45.0
2,10090,5735,163,166,101012.0,69,0,465,277,47,...,Old Saybrook,165.0,0.040436,14.0,0.568385,0.284192,94.0,59,0.776344,46.0
3,7221,2913,180,185,129156.0,23,0,398,164,18,...,Durham,183.0,0.013156,5.0,0.403407,0.201703,74.0,62,0.628141,39.0
4,4480,2095,106,122,114583.0,0,0,261,140,59,...,Deep River,114.0,0.016071,4.0,0.467634,0.233817,54.0,0,0.762452,0.0

In [6]:
town['housing per person'] = town['housing units']/town['total population']

In [7]:
town['%housing_lowerHalf_income'] = town['housing per person']*.5

In [15]:
town['demand_estimate_3'] = town['%housing_lowerHalf_income'] * (town['pop_female_under_5'] + town['pop_male_under_5'])

town['demand_estimate_3'] = town['demand_estimate_3'].apply(np.ceil)

town.head()

,total population,housing units,pop_male_under_5,pop_female_under_5,median_family_income_in_the_past_12_months_in_2019_inflation-adjusted_dollars_by_family_size_total,ratio of income to poverty level - < 0.5,children under 6 ratio of income to poverty level - < 0.5,children under 6 by parent employment status - all categories,children under 6 by parent employment status - both parents - in labor force,children under 6 by parent employment status - only father - in labor force,...,town,demand_estimate,ratio_poverty,demand_estimate_2,housing per person,%housing_lowerHalf_income,demand_estimate_3,children_below_200%_poverty,%all_parents_working,demand_estimate_4
0,6903,4365,67,44,126890.0,77,14,142,98,0,...,Westbrook,56.0,0.025062,3.0,0.632334,0.316167,36.0,14,0.690141,10.0
1,9007,4633,189,293,107654.0,32,46,585,312,0,...,East Haddam,241.0,0.032530,16.0,0.514378,0.257189,124.0,63,0.702564,45.0
2,10090,5735,163,166,101012.0,69,0,465,277,47,...,Old Saybrook,165.0,0.040436,14.0,0.568385,0.284192,94.0,59,0.776344,46.0
3,7221,2913,180,185,129156.0,23,0,398,164,18,...,Durham,183.0,0.013156,5.0,0.403407,0.201703,74.0,62,0.628141,39.0
4,4480,2095,106,122,114583.0,0,0,261,140,59,...,Deep River,114.0,0.016071,4.0,0.467634,0.233817,54.0,0,0.762452,0.0

In [12]:
# calculating children living in households under 200% of poverty level

town['children_below_200%_poverty'] = town['children under 6 ratio of income to poverty level - < 0.5'] + town['children under 6 ratio of income to poverty level - 0.51 - 1.0'] + town['children under 6 ratio of income to poverty level - 1.01 - 2.0']

In [10]:
# all parents working

town['%all_parents_working'] = (town['children under 6 by parent employment status - both parents - in labor force'] + 
town['children under 6 by parent employment status - only father - in labor force'] + 
town['children under 6 by parent employment status - only mother - in labor force']) / town['children under 6 by parent employment status - all categories']

In [11]:
# new demand estimate resulting from ratio of children uner 200% poverty level and with all parents working

town['demand_estimate_4'] = town['children_below_200%_poverty'] * town['%all_parents_working']

town['demand_estimate_4'] = town['demand_estimate_4'].apply(np.ceil)

town.head()

,total population,housing units,pop_male_under_5,pop_female_under_5,median_family_income_in_the_past_12_months_in_2019_inflation-adjusted_dollars_by_family_size_total,ratio of income to poverty level - < 0.5,children under 6 ratio of income to poverty level - < 0.5,children under 6 by parent employment status - all categories,children under 6 by parent employment status - both parents - in labor force,children under 6 by parent employment status - only father - in labor force,...,town,demand_estimate,ratio_poverty,demand_estimate_2,housing per person,%housing_lowerHalf_income,demand_estimate_3,children_below_200%_poverty,%all_parents_working,demand_estimate_4
0,6903,4365,67,44,126890.0,77,14,142,98,0,...,Westbrook,56.0,0.025062,3.0,0.632334,0.316167,36.0,14,0.690141,10.0
1,9007,4633,189,293,107654.0,32,46,585,312,0,...,East Haddam,241.0,0.032530,16.0,0.514378,0.257189,124.0,63,0.702564,45.0
2,10090,5735,163,166,101012.0,69,0,465,277,47,...,Old Saybrook,165.0,0.040436,14.0,0.568385,0.284192,94.0,59,0.776344,46.0
3,7221,2913,180,185,129156.0,23,0,398,164,18,...,Durham,183.0,0.013156,5.0,0.403407,0.201703,74.0,62,0.628141,39.0
4,4480,2095,106,122,114583.0,0,0,261,140,59,...,Deep River,114.0,0.016071,4.0,0.467634,0.233817,54.0,0,0.762452,0.0